
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|EXO:100,200,300,400,500,600,700');

html,body {
  height: 100%;
  width: 100%;
}

/*-----------------------------header--------------------------------------------------------------------*/

.mynav {
  background-color: #000000;
  padding: 20px;
}

.navbar {
  background-color: transparent !important;
}

.navbar .navbar-brand .heading {
     font-family: 'Margarine', cursive;
     font-size: 40px ;
     font-weight: normal;
     color: #40E0D0;
}

.navbar .navbar-brand .heading span {
  font-size: 25px ;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #40E0D0;
}

/*.navbar .navbar-nav {
  margin-right:20%;
}*/

.navbar .nav-item .nav-link {
    font-size: 17px;
    font-family:"Roboto",sans-serif;
    color: #ff8566;
}


.navbar .nav-item .nav-link:hover{
    color: #40E0D0;
}

#about-current {
  color: #40E0D0;
}

#home-current {
  color: #40E0D0;
}

#contact-current {
  color: #40E0D0;
}

#portfolio-current {
  color: #40E0D0;
}

#clients-current {
  color: #40E0D0;
}

.navbar-toggler-icon{color: #ff8566;}



/*--------------------------------index-section------------------------------------------------------------------------*/
.section-detail {
	background-color: #000000;
  min-height: calc(100vh - 170px);
}

.image-layout img {
	width: 200;
    height: 200;
    object-fit:scale-down;
    display: inline-block;
    
 }


/*--------------------------------contact-section------------------------------------------------------------------------*/

.contact-layout {
  margin-left: 20%;
}


.contact-heading {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #FFD700;
   
}

.contact-name {
	font-family: 'Margarine', cursive;
    font-weight: normal;
    color: #ff8566;
    
}

.contact-address {
	font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #FFFFFF;
    
}



.form-details input {
	width:60%;
	height: 50px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background-color: #000000;
}

.form-details input:hover {
  background-color: #000000;
}


.form-message textarea {
  width:60%;
	height: 150px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background-color: #000000;
}

#form-button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000000 ;
    background-color: #ff8566;
    border: #FFD700;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 52%;
}





/*--------------------------------about-section------------------------------------------------------------------------*/

.about-image {
  width: 55%;
  background-color: #000000;
  margin-bottom: 5px;
  float: right;
  padding-left: 30px;


}

.about-heading {
	font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #ff8566;
   margin-left: 40%;
   
}

.about-paragraph {
     font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    background-color: #000000;
    display: block;
}

/*--------------------------------client-section------------------------------------------------------------------------*/

.image-layout {
  padding-top: 10%;
}

.client-heading {
	font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #FFD700;
   margin-left: 215px;
}


.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 200px;
}

.desc {
  padding: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------portfolio-section------------------------------------------------------------------------*/
  .thumb{
            margin-bottom: 30px;
        }
        
        .page-top{
            padding-top: 10px;
        }

   
img.zoom {
    width: 100%;
    height: 200px;
    border-radius:5px;
    object-fit:cover;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
}
 
  

/*-----------------------------footer--------------------------------------------------------------------*/



.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-details {
  background-color: #000000; 
  padding: 20px;
}

.list-inline-item a i {
  font-size: 25px;
}

/*------Bootstrap padding fix---*/
[class*="col-"] {
  padding:1rem;
}


/*-----Media Queries----*/
@media (max-width: 992px) {

}

@media (max-width: 768px) {
  
}

@media (max-width: 576px) {
  
}