
@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|EXO:100,200,300,400,500,600,700');

body {
  margin: 0;
  padding: 0;
}

/*-----------------------------header--------------------------------------------------------------------*/
.header-height {
   height: 150px;
}

.heading {
     padding-left: 30px;
     font-family: 'Margarine', cursive;
     font-size: 40px ;
     font-weight: normal;
     color: #40E0D0;
     text-align: center;
     margin-top: 30px;
}

.heading span{
  
  font-size: 25px ;
  font-family: 'Roboto',sans-serif;
  font-weight: 300;
  color: #40E0D0;

}

.nav-link li {
  display: inline;
  float: left;
 } 

.nav-link li a {
  display: block;
    background-color: #000000;
    font-size: 17px;
    font-family:"Roboto",sans-serif;
    color: #FFD700;
    text-align: center;
    padding: 20px 35px;
    text-decoration: none;
    margin-top: 20px;
    font-weight: 300;
    }

li a:hover {
  color: #40E0D0;
}

.active {
  color: #fff;
}

.nav-color {
  background-color: #000000;
  margin-left: 0;

}

.navbar-default {
  background-color: #000000;
  padding: 20px;
}

#header-details {
  background-color: #000000;
  padding: 20px;
}

.navbar .navbar-toggler{

   display: block;
   text-align: right;
   border-top: 1px solid;
   overflow-x: hidden;

  }


.navbar .navbar-toggle .icon-bar {
  background-color: white;
}
/*--------------------------------index-section------------------------------------------------------------------------*/
.section-detail {
	background-color: #000000;
  min-height: calc(100vh - 170px);
}

.image-layout img {
	width: 200;
    height: 200;
    object-fit:scale-down;
    display: inline-block;
    
 }


/*--------------------------------contact-section------------------------------------------------------------------------*/

.contact-layout {
  margin-left: 20%;
}


.contact-heading {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #FFD700;
   
}

.contact-name {
	font-family: 'Margarine', cursive;
    font-weight: normal;
    color: #FFD700;
    
}

.contact-address {
	font-family: "Roboto", sans-serif;
    font-weight: 200;
    font-size: 15px;
    color: #FFFFFF;
    
}



.form-details input {
	width:60%;
	height: 50px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border: 1px solid #FFD700;
    border-radius: 4px;
    background-color: #000000;
}

.form-message textarea {
  width:60%;
	height: 150px;
	font-size: 14px;
	font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #FFFFFF;
    border: 2px solid #FFD700;
    border-radius: 4px;
    background-color: #000000;
}

#form-button {
    font-family: "Roboto", sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: #000000 ;
    background-color: #FFD700;
    border: #FFD700;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 52%;
}





/*--------------------------------about-section------------------------------------------------------------------------*/

.about-image {
  width: 55%;
  background-color: #000000;
  margin-bottom: 5px;
  float: right;
  padding-left: 30px;


}

.about-heading {
	font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #FFD700;
   margin-left: 215px;
}

.about-paragraph {
     font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 16px;
    color: #FFFFFF;
    margin-left: 215px;
    display: block;
}

/*--------------------------------client-section------------------------------------------------------------------------*/



.client-heading {
	font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #FFD700;
   margin-left: 215px;
}


.gallery {
  border: 1px solid #ccc;
}

.gallery:hover {
  border: 1px solid #777;
}

.gallery img {
  width: 100%;
  height: 200px;
}

.desc {
  padding: 15px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-weight: 400px;
  color: #FFFFFF;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 700px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/*--------------------------------portfolio-section------------------------------------------------------------------------*/

.portfolio-heading {
	font-family: "Roboto", sans-serif;
   font-weight: 400;
   color: #FFD700;
   margin-left: 215px;
 }

.portfolio-type {
  font-family: "Roboto", sans-serif;
   font-weight: 200;
   color: #FFFFFF;
}

/*-----------------------------footer--------------------------------------------------------------------*/



.social-links {
    display: flex;
    align-items: center;
    justify-content: center;
}

#footer-details {
  background-color: #000000; 
  padding: 20px;
}

.list-inline-item a i {
  font-size: 25px;
}